* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: url("images/pinkyleopard.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
}

.wardrobe {
  width: 500px;              /* bigger overall box */
  max-width: 90vw;           /* responsive */
  background: #fff;
  border: 4px solid #ff4fa3; /* pink border */
  padding: 14px;
}

.header {
  display: flex;
  justify-content: space-between;
  background: #ff4fa3;   /* HOT PINK */
  color: white;
  padding: 8px;
  font-size: 0.6rem;
}

.display {
  height: 420px;             /* BIGGER image area */
  background: white;
  border: 3px inset #ff9acb;
  margin: 14px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


.display img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.controls {
  display: flex;
  justify-content: space-between;
}

button {
  font-family: inherit;
  font-size: 0.55rem;
  padding: 8px 14px;
  border: 2px solid #ff4fa3;
  background: #ffd1e8;
  color: #000;
  cursor: pointer;
}

#randomBtn {
  background: #ff4fa3;
  color: white;
}

.footer {
  margin-top: 10px;
  background: #ff4fa3;   /* same pink */
  color: white;
  text-align: center;
  padding: 6px;
  font-size: 0.55rem;
}
button:hover {
  background: #ff9acb;
}

